@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
/*font-family: ;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Work Sans', sans-serif ;
}

.banner {
  background: linear-gradient(to bottom, black, rgba(7, 2, 17, 0)),
    url(https://i.ibb.co/yd9mJKf/Banner-Image.png);
  height: 600px;
  width: 1320px;
  margin-left: 100px;
  margin-top: 50px;
}
.banner h5 {
  color: white;
  width: 260px;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  margin: 200px 530px 380px 530px;
}
.banner p {
  color: white;
  position: absolute;
  width: 630px;
  font-size: 72px;
  font-weight: 900;
  margin: 250px 345px 170px 345px;
  text-align: center;
  line-height: 85px;
  font-style: normal;
}
.banner2 {
  background: linear-gradient(to bottom, black, rgba(7, 2, 17, 0)),
    url(./images/Vectorrr.png);
  height: 600px;
  width: 1320px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner2 h5 {
  color: white;
  position: absolute;

  margin: 180px 0 0 80px;
  font-size: 84px;
}
.banner2 p {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  margin: 380px 20px 0 80px;
  font-size: 18px;
  padding-right: 600px;
}
.banner2 button {
  margin: 480px 20px 0 80px;
  border-radius: 7px;
  padding: 2px;
  font-size: 20px;
  font-weight: 700;
  margin-left: -1000px;
}
.banner2 img {
    margin-left: 800px;
}
.banner3 {
  width: 1320px;
  height: 500px;
  background: linear-gradient(
    to top,
    rgba(201, 179, 179, 0.541),
    rgb(203, 146, 153)
  );
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 50px;
}
.ban {
  margin: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.b3 {
  align-items: center;
  justify-content: center;
  display: flex;
}
.h {
  padding-top: 200px;
}
.first {
  color: #f00;

  text-align: center;
  font-family: Inter;
  font-size: 32px;
}
.banner3 p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  text-align: center;
}

.Ellipse {
  width: 1320px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.Ellipse-left h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-top: 100px;
}

.Ellipse-left h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.Ellipse-left p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 390px;
}

.Ellipse-div img {
  margin-top: 18px;
  margin-left: 18px;
}

.Ellipse-div {
  width: 430px;
  height: 430px;
  border-radius: 463px;
  border: 15px solid #f00;
}

.Ellipse-right h2 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}
.Ellipse-right {
  margin-top: 100px;
}

.Ellipsee-right p {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 270px;
}

.offer {
  margin-top: 80px;
  margin-bottom: 80px;
}
.offer h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.offer p {
  color: #f00;
  margin-top: 20px;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 200;
}
.offer h3 {
  color: #070211;
  margin-top: 20px;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 200;
}
.offer img {
  margin-left: 350px;
  text-align: center;
  margin-top: 80px;
}
.discount {
  margin-left: 100px;
  margin-top: 80px;
}
.discount h5 {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.discount h1 {
  color: #f00;

  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
}
.discount p {
  text-align: center;

  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 0 200px 0 200px;
  margin-top: 20px;
}
.image-2,
.image-1 {
  display: flex;
  gap: 35px;
}
.image-1 {
  margin-left: 100px;
  margin-top: 50px;
}
.image-2 {
  margin-left: 195px;
  margin-top: 50px;
}

.dis {
  background-image: url("images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1320px;
  height: 660px;
  margin-top: 100px;
}

.dis .line {
  position: absolute;
  margin-left: 95px;
  z-index: -5;
}

.dis-img2 {
  position: absolute;
  margin-left: -60px;
  margin-top: 50px;
}

.news-later {
  position: relative;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.news-later img {
  position: absolute;
  margin: 80px 580px 380px 580px;
  display: flex;
}

.news-later h2 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  width: 520px;
  height: 60px;
  position: absolute;
  margin: 270px 400px 280px 400px;
}

.news-later p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  position: absolute;
  margin: 350px 210px 200px 210px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  width: 900px;
}

.news-later-form {
  margin: 460px 330px 80px 330px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 650px;
  height: 72px;
  border-radius: 50px;
  background: #fff;
}

.news-later-form input {
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 50px 0px 0px 50px;
  padding-left: 30px;
  color: rgba(7, 2, 17, 0.3);
  width: 450px;
  text-align: left;
}

.news-later-form button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;

  width: 210px;
  height: 70px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
}

.footer {
  width: 1600px;
  height: 400px;
  background: #070211;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  padding-top: 100px;
}

.social {
  align-items: center;
 margin-left: 600px;
  justify-items: center;
  display: flex;
  gap: 50px;
  padding: 20 0px 0 0px;

}

.hr {
  margin: 0 130px 0 130px;
}
.footer-first {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  position: relative;
  margin-bottom: 20px;
}
.footer-last {
  margin-top: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  justify-content: space-between;
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
}
